*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #d32c16;
}

header {
    box-sizing: border-box;
    min-height: 50px;
    width: 100%;
    background-color: #ff572b;
    padding: 20px;
}

#head-text {
    margin-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #bd160b;
}

#taskname {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

#newtask {
    position: relative;
    padding: 30px 60px 50px;
    
}

    #newtask input {
        width: 100%;
        height: 45px;
        padding: 12px;
        color: black;
        font-weight: 500;
        border-radius: 5px;
        border: 2px solid #f87351;
        font-family: Arial, Helvetica, sans-serif;
    }

    #newtask #date-input, #newtask #time-input {
        width: 40%;
        cursor: pointer;
    }

    #newtask input:focus {
        outline: none;
        border-color: #e94120;
    }

    #newtask button {
        float: right;
        font-weight: 500;
        font-size: 16px;
        background-color: #bd160b;
        border: none;
        color: white;
        cursor: pointer;
        outline: none;
        width: 33%;
        height: 45px;
        border-radius: 5px;
        font-family: Arial;
    }

        #newtask button:hover {
            background-color: #a70000;
        }

        #newtask button:active {
            background-color: rgb(165, 21, 10);
            transform: scale(0.95);
        }

#check-task {
    margin-right: 20px;
    cursor: pointer;
}

#text {
    font-weight: bold;
}

.tasks {
    position: absolute;
    width: 100%;
    background-color: rgb(243, 235, 235);
    padding: 0px 20px;
    margin-top: 0px;
    justify-content: space-between;
}

    .tasks.overflow {
        overflow-y: auto;
        max-height: 350px;
    }

    .tasks::-webkit-scrollbar {
        width: 10px;
    }

        .tasks::-webkit-scrollbar-track {
            background: rgb(223, 217, 217);
            border-radius: 25px;
        }

        .tasks::-webkit-scrollbar-thumb {
            background: #d32c16;
            border-radius: 25px;
        }

.task {
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 10px 20px;
    display: flex;
    width: 100%;
    border-bottom: 0.5px solid #ff572b;
}
    
    .task label {
        font-size: 15px;
        font-weight: 400;
        display: flex;
        align-items: flex-start;
    }

        .task label p.checked {
            text-decoration: line-through;
        }

.separator {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.delete {
    right: -5px;
    padding: 5px 5px;
    background: white;
    border-radius: 5px;
    transform-origin: top right;
    box-shadow: 0 0 6px black;
    transition: transform 0.2s ease;
    z-index: 10;
}

    .delete:active {
        transform: scale(0.9);
    }

.container {
    width: 60%;
    padding-top: 20px;
    margin: 30px auto;
    background: white;
    border-radius: 1px;
    min-width: 450px;
    min-height: 100px;
    transform: translate(0%,0%);
}

.logo {
    top: 0;
    left: 40px;
    height: 60px;
    width: 60px;
}

.title-bar {
    position: absolute;
    top: 25px;
    left: 110px;
    bottom: 40px;
    height: 30px;
    padding: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.ghost {
    opacity: 0.4;
    background: #d1e3ff;
}